(CREATOR PAGE)
<h1><%= set_show_page_header(type) %></h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= favor.title %></td>
    <td><%= favor.description %></td>
  </tr>
</table>

<p><%= set_acceptances_message(type, favor) %></p>

<% if favor.has_accepted_acceptance? %>
  <%= accepted_acceptance_user_link(favor)%>
<% else %>
  <% favor.acceptances.each do |acceptance| %>
    <%= link_to acceptance.user.firstname, user_path(acceptance.user) %> <%= link_to "Accept", acceptance_path(acceptance),method: :put %><br />
  <% end %>
<% end %>